*{
    box-sizing: border-box;
    margin: 0 auto;
}

body{
    background-color: var(--primary-col);
}

h1{
    font-size: 7rem;
    font-weight: bold;
}

#container{
    max-width: 1200px;
    margin: 0 auto;
}


.box{
    background-color: var(--normal-num);
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--box-width);
    height: var(--box-height);
    margin: 10px;
}

.box:hover{
    cursor: pointer;
    color: white;
}

.box-3:hover {
    background-color: var(--multiple-three);
    cursor: pointer;
    color: black;
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.box-5:hover {
    background-color: var(--multiple-five);
    cursor: pointer;
    color: black;
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.box-S:hover {
    background-color: var(--special-num);
    cursor: pointer;
    color: black;
    transform: scale(1.1);
    transition-duration: 0.5s;
}
